html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* Цветовые переменные */
:root {
    --accent-color: #f7654a;
    --dark-color: #404149;
    --grey-color: #999;
    --white-color: #fff;
    --background-color: #e5e5e5;
}

/* Контейнер */
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    /* Минимальная высота фона */
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* Отступ от лого до заголовка */
    margin-bottom: 112px;
}

/* Лого */
.logo {
    width: 60px;
    height: 60px;
}

/* Бургер */
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* Убираем внутренние отступы, которые у button по умолчанию */
    padding: 0;
    background-color: var(--accent-color);
    /* Убираем рамку, которая у button по умолчанию */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

/* Убираем нижний отступ 4px у последнего элемента бургера */
.burger__line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* Ограничение текста по ширине */
    max-width: 734px;
    /* Выравнивание по центру и отступ снизу от заголовка к подзаголовку */
    margin: 0 auto 17px;
    color: var(--white-color);
}

.h4 {
    font-weight: 400;
    max-width: 734px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--white-color);
}

.about {
    height: 1080px;
    position: relative;
}

.info {
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    min-width: 1110px;
    max-width: 100%;
    min-height: 300px;
    background-color: #f7f7f7;
    padding: 57px 130px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;

}

.about__grid-item {
    justify-items: center;
    width: 190px;
}

.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about__h5 {
    color: #000;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.about__p {
    color: var(--gray-color);
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}






































/* Стили для текстов */
.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}